.conteniner-ps5{
    width: 100%;
    height: 600px;
}

.conteniner-ps5 img{
    height: 600px;
}

.new-release-img, .game-selection-img{
    border-radius: 30px;
}

.ps5-card{
    width: calc(100% / 5);
}

.bg-dark-blue{
    background-color: #161c3b;
}

.bg-light-blu{
    background-color: #00439c;
}

.bg-light-grey{
    background-color: #bebcbb;
}

.bg-very-light-grey{
    background-color: #d9dadc;
}

#header-top{
    height: 40px;
    line-height: 40px;
    width: 100%;
}

#header-top img{
    width: 100px;
}

#jumbotron{
    width: 100%;
    height: calc(100vh - 96px);
    background-image: url("../img/returnal-listing-thumb-01-ps5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}

#game-selection{
    width: 100%;
    height: 100%;
}

#playstation5{
    width: 100%;
}

#new-release-jumbo{
    width: 100%;
    height: calc(100vh - 110px);
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#new-release{
    width: 100%;
    height: 100%;
}

#playstation-plus{
    width: 100%;
    height: 100%;
}

#ps-logo{
    filter: invert(100%) sepia(50%) saturate(0%) hue-rotate(114deg) brightness(200%);
}